.tabella-piena{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

.tabella-piena td{
    border: 1px solid;
}

.allinea-centro{
    text-align: center;
}

.padding-interno{
    padding: 20px;
}

.tabella-piena th{
    background-color: lightblue;
}

.dispari{
    background-color: lightcyan;
}



.esterno{
    width: 100%;
    background-color: chartreuse;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;

}
.menu{      
    display: inline-block;  
    width: 32%; 
        
}
.contenitore-tabella{      
    display: inline-block;  
    width: 65%;  
      
}

.righe-tabella div{
    display: inline-block;  
    width: 32%;
    border: 1px solid;
    
}